@model ResultsByCategoryModel
@using GraphQL.Client.Abstractions.Utilities
@inject IConfiguration configuration
<h2>
    What you told us motivates you
</h2>
<p class="dysac-personality-trait-summary govuk-body">
    It’s normal for what motivates you to change over time. These motivations are based on your responses today.
</p>
<div class="dysac-trait-tile-container">
    @foreach (var trait in Model.Traits)
    {
        <div class="dysac-personality-tile">
            <div class="dysac-personality-tile-image-header">
                <img class="dysac-personality-tile-image" src="@(configuration["AssetsCdn"]+trait.ImagePath)" alt="">
                <h2>@trait.Title.ToPascalCase()</h2>
            </div>

            <div class="dysac-personality-tile-description">
                <p>
                    @trait.Text
                </p>
            </div>
        </div>
    }
</div>
<h2 class="govuk-heading-l dysac-header-margin">Careers that might interest you</h2>

<p class="dysac-p-margin">We’ve suggested some careers based on your responses and motivations.</p>
<p>It can be useful to think about which careers you might like, and which do not interest you and why</p>

<div class="govuk-template__body  app-page--results-long js-enabled" id="top">
    <div class="app-results">
        @foreach (var jobCategory in Model.JobsInCategory.Where(x => x.ShowThisCategory).OrderByDescending(c => c.DisplayOrder))
        {
            <div class="app-results__item" data-job-family-code="@jobCategory.CategoryCode">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/job-categories/@jobCategory.CategoryUrl">@jobCategory.CategoryTitle</a></h2>
                        
                            @if (@jobCategory.JobProfiles.Count()-1 > 0)
                            {
                                <p class="text-light dysac-text-light">
                                    @jobCategory.JobProfiles.Count()-1 role@{
                                        if (@jobCategory.JobProfiles.Count() > 1)
                                            @("s")
                                    } you might be interested in
                                </p>
                            }
                            else
                            {
                                <p class="text-light dysac-text-light"><span>No careers were found that might interest you based on your responses.</span></p>
                            }
                            <p><a asp-route="filterQuestions" role="button" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@jobCategory.CategoryUrl" asp-route-questionNumber="0">Change your answers</a></p>

                            @if (jobCategory.ShowThisCategory)
                            {
                                <ul class="app-long-results1 govuk-list govuk-grid-row" id="app-results-list--long">
                                    @foreach (var profile in jobCategory.JobProfiles.Where(p => p.ReturnedStatusCode != System.Net.HttpStatusCode.NotFound).Take(6))
                                    {
                                        <li class="">
                                            @Html.Raw(profile.OverViewHTML)
                                        </li>

                                    }
                                </ul>

                                @if (jobCategory.JobProfiles.Count(p => p.ReturnedStatusCode != System.Net.HttpStatusCode.NotFound) >6)
                                {
                                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                                    <div class="govuk-accordion__section">
                                        <div class="govuk-accordion__section-header">
                                            <h2 class="govuk-accordion__section-heading">
                                                    <span class="govuk-accordion__section-button .dysac-accordion-button" id="accordion-default-heading-1">
                                                    Remaining job roles suggested in @jobCategory.CategoryTitle
                                                </span>
                                            </h2>
                                        </div>
                                        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                            <ul class="app-long-results1 govuk-list govuk-grid-row" id="app-results-list--long">
                                                @foreach (var profile in jobCategory.JobProfiles.Where(p => p.ReturnedStatusCode != System.Net.HttpStatusCode.NotFound).Skip(6))
                                                {
                                                    <li class="">
                                                        @Html.Raw(profile.OverViewHTML)
                                                    </li>

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                            else if (@jobCategory.JobProfiles.Count() > 0)
                            {
                                <p class="app-noprint">View job roles you might be suited to in @jobCategory.CategoryTitle</p>
                                <a role="button" class="govuk-button ncs-button__primary app-button" asp-controller="results" asp-action="roles" asp-route-id="@jobCategory.CategoryUrl" draggable="false">See results</a>
                            }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="govuk-!-margin-top-8 dysac-job-category-panel">
        <h2>Explore remaining job categories </h2>
        <div class="govuk-!-margin-top-5 dysac-job-category-tile-container">
            @{
                var jobCategories = Model.JobsInCategory.Where(x => !x.ShowThisCategory).OrderByDescending(c => c.DisplayOrder).ToArray();

            }
            @for (int index = 0; index < jobCategories.Count(); index++)
            {
                
                <div class="dysac-job-category-tile-wrapper">
                    <div class="dysac-job-category-tile-header-image">
                        <img src="@(configuration["AssetsCdn"]+jobCategories[index].ImagePathMobile)" class="dysac-job-category-tile-header-mobile" alt="" />

                        <img src="@(configuration["AssetsCdn"]+jobCategories[index].ImagePathDesktop)" class="dysac-job-category-tile-header-desktop" alt="" />
                    </div>
                    <div class="dysac-job-category-tile">
                        <h3 class="tile-header"><a href="/job-categories/@jobCategories[index].CategoryUrl">@jobCategories[index].CategoryTitle</a></h3>
                        <p>@jobCategories[index].JobFamilyText</p>
                        @if (jobCategories[index].JobProfiles.Count() > 0)
                        {
                            <p class="govuk-body">
                                <a class="govuk-link" asp-controller="results" asp-action="roles" asp-route-id="@jobCategories[index].CategoryUrl" draggable="false">See suggested careers</a> or
                                <a class="govuk-link" draggable="false" asp-route="filterQuestions" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@jobCategories[index].CategoryUrl" asp-route-questionNumber="0">
                                    change your answers
                                </a>
                            </p>
                        }
                        else if (jobCategories[index].AnswerMoreQuestions > 0)
                        {
                            <p class="govuk-body">
                                <a class="govuk-link" draggable="false" asp-route="filterQuestions" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@jobCategories[index].CategoryUrl" asp-route-questionNumber="0">
                                    Answer @jobCategories[index].AnswerMoreQuestions more question@{
                                        if (jobCategories[index].AnswerMoreQuestions > 1)
                                            @("s")
                                    }
                                </a>
                            </p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<partial name="_SendMyResults" model="@Model.AssessmentReference" />
<div class="govuk-!-margin-bottom-9">
    <partial name="_NextSteps" />
</div>
<div class="govuk-!-margin-bottom-9">
    <partial name="_SpeakToAnAdviser" />
</div>