@model ResultsByCategoryModel

@if (Model.JobsInCategory.Count() == 1)
{
    <h2 class="govuk-heading-l">1 career area that might interest you</h2>    
}
else
{
    <h2 class="govuk-heading-l">@Model.JobsInCategory.Count() career areas that might interest you</h2>
}

<div class="govuk-template__body  app-page--results-long js-enabled" id="top">
    <div class="app-results">
        @foreach (var jobCategory in Model.JobsInCategory.OrderByDescending(c => c.DisplayOrder))
        {
            <div class="app-results__item" data-job-family-code="@jobCategory.CategoryCode">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="/job-categories/@jobCategory.CategoryUrl">@jobCategory.CategoryTitle</a></h2>
                        @if (jobCategory.AnswerMoreQuestions == 0)
                        {

                            if (@jobCategory.JobProfiles.Count() > 0)
                            {
                                <p class="text-light">@jobCategory.JobProfiles.Count() role@{if (@jobCategory.JobProfiles.Count() > 1)@("s")} you might be interested in</p>
                            }
                            else
                            {
                                <p class="text-light"><span>No careers were found that might interest you based on your responses.</span></p>
                            }
                            <p><a asp-route="filterQuestions" role="button" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@jobCategory.CategoryUrl" asp-route-questionNumber="0">Change my answers</a></p>

                            @if (jobCategory.ShowThisCategory)
                            {
                                <ul class="app-long-results govuk-list govuk-grid-row" id="app-results-list--long">
                                    @foreach (var profile in jobCategory.JobProfiles.Where(p => p.ReturnedStatusCode != System.Net.HttpStatusCode.NotFound))
                                    {
                                        <li class="">
                                            @Html.Raw(profile.OverViewHTML)
                                        </li>
                                    }
                                </ul>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-two-thirds">
                                        <p class="show-more"> </p>
                                    </div>
                                </div>
                            }
                            else if (@jobCategory.JobProfiles.Count() > 0)
                            {
                                <p class="app-noprint">View job roles you might be suited to in @jobCategory.CategoryTitle</p>
                                <a role="button" class="govuk-button app-button" asp-controller="results" asp-action="roles" asp-route-id="@jobCategory.CategoryUrl" draggable="false">See results</a>
                            }
                        }
                        else
                        {
                            <p>To find out job roles you might be suited to in @(jobCategory.CategoryTitle), answer more questions.</p>
                            <a asp-route="filterQuestions" role="button" class="govuk-button app-button" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@jobCategory.CategoryUrl" asp-route-questionNumber="0">Answer @jobCategory.AnswerMoreQuestions more question@{if (@jobCategory.AnswerMoreQuestions > 1)@("s")}</a>
                        }
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="show-more"> </p>
                        <hr>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_SendMyResults" model="@Model.AssessmentReference" />