@model ResultsByCategoryModel
<partial name="_ResultsHeader" model="@Model.Traits" />

<div>
    <partial name="_Print" />
</div>
<div>
    <partial name="_SpeakToAnAdviser" />
</div>

<partial name="_SendMyResults" model="@Model.AssessmentReference" />

@foreach (var jobCategory in Model.JobsInCategory.OrderByDescending(c => c.DisplayOrder))
{
    <h2><a href="@Model.ExploreCareersUri/job-categories/@jobCategory.CategoryUrl">@jobCategory.CategoryTitle</a></h2>

    if (jobCategory.AnswerMoreQuetions == 0)
    {
        if (@jobCategory.ShowThisCategory)
        {
            <p class="text-light">@jobCategory.JobProfiles.Count() Job role@{if (@jobCategory.JobProfiles.Count() > 0)@("s")} that might suit you</p>
            <p><a href="/results/changeanswers/@jobCategory.CategoryUrl">Change my answers</a></p>
            <ul>
                @foreach (var profile in jobCategory.JobProfiles)
                {
                    <li>
                        <a href=@profile.Cname>@profile.Cname</a>
                    </li>
                }
            </ul>
                }
                else
                {
                    <p>No more quetions - see this profile</p>
                    }
                }
                else
                {
        <p>To find out job roles you might be suited to in @(jobCategory.CategoryTitle), answer more questions.</p>

        <a href="/results/filtered/@jobCategory.CategoryUrl" role="button" draggable="false" class="govuk-button app-button">
            Answer @jobCategory.AnswerMoreQuetions more question@{if (@jobCategory.AnswerMoreQuetions > 0)@("s")}
        </a>

                    }
                }
