@model QuestionGetResponseViewModel

@if (Model.PreviousQuestionId > 0)
{
    <br />
    <a asp-route="assessment" asp-route-questionsetname="@Model.QuestionSetName" asp-route-questionid="@Model.PreviousQuestionId">Back to previous statement</a>
}

<br />
@(Model.PercentageComplete)%

@Html.ValidationSummary()

<h1>@Model.QuestionText</h1>

<form method="post">
    <p>
        <input type="radio" value="4" name="answer" />Strongly agree
    </p>
    <p>
        <input type="radio" value="3" name="answer" />Agree
    </p>
    <p>
        <input type="radio" value="2" name="answer" />It depends
    </p>
    <p>
        <input type="radio" value="1" name="answer" />Disagree
    </p>
    <p>
        <input type="radio" value="0" name="answer" />Strongly disagree
    </p>

    <button>Next</button>
</form>

<hr />
<h3>Return to this later</h3>
<br />
<a asp-controller="assessment" asp-action="save">Save my progress</a>
