@model QuestionGetResponseViewModel

@if (Model.PreviousQuestionNumber.HasValue)
{
    <br />
    <a asp-route="assessment" asp-route-questionsetname="@Model.QuestionSetName" asp-route-questionnumber="@Model.PreviousQuestionNumber">Back to previous statement</a>
}

<br />
@(Model.PercentageComplete)%

@Html.ValidationSummary()

<h1>@Model.QuestionText</h1>

<form method="post">
    <p>
        <input type="radio" value="4" name="answer" checked="@Model.IsChecked(Answer.StronglyAgree)" />Strongly agree
    </p>
    <p>
        <input type="radio" value="3" name="answer" checked="@Model.IsChecked(Answer.Agree)" />Agree
    </p>
    <p>
        <input type="radio" value="2" name="answer" checked="@Model.IsChecked(Answer.Neutral)" />It depends
    </p>
    <p>
        <input type="radio" value="1" name="answer" checked="@Model.IsChecked(Answer.Disagree)" />Disagree
    </p>
    <p>
        <input type="radio" value="0" name="answer" checked="@Model.IsChecked(Answer.StronglyDisagree)" />Strongly disagree
    </p>

    <button>Next</button>
</form>

<hr />
<h3>Return to this later</h3>
<br />
<a asp-controller="assessment" asp-action="save">Save my progress</a>
