@model FilterQuestionIndexResponseViewModel
    <form method="post" id="dysac-form">
        <input type="hidden" name="QuestionNumberReal" value="@Model.Question.CurrentQuestionNumber" />
        <input type="hidden" name="QuestionNumberCounter" value="@Model.Question.QuestionNumber" />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <!-- Error msgs go here  -->

                <div class="govuk-grid-row app-error">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                        <partial name="ValidationSummary" model="ViewData.ModelState" />
                    </div>
                </div>
                <div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset app-question app-question--long">
                        <legend class="govuk-visually-hidden">@Model.Question.QuestionText</legend>

                        <div class="govuk-fieldset__legend--l app-question__question">
                            <span asp-validation-for="Answer" class="text-danger govuk-error-message"></span>
                            <h1 class="govuk-fieldset__heading" aria-hidden="true">
                                @Model.Question.QuestionText
                            </h1>
                        </div>
                        <div class="app-question__answer govuk-radios govuk-radios--inline" id="question">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       id="selected_answer-1"
                                       type="radio"
                                       value="5"
                                       name="answer"
                                       asp-for="Answer"
                                       checked="@Model.Question.IsChecked(Answer.Yes)"
                                       gov-analytics-data="SelectedAnswer | Yes">
                                <label class="govuk-label govuk-radios__label" for="selected_answer-1">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       id="selected_answer-2"
                                       type="radio"
                                       value="6"
                                       name="answer"
                                       asp-for="Answer"
                                       checked="@Model.Question.IsChecked(Answer.No)"
                                       gov-analytics-data="SelectedAnswer | No">
                                <label class="govuk-label govuk-radios__label" for="selected_answer-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="app-controls--left">
                    <button type="submit" class="govuk-button app-button btn-next-question" id="dysac-submit-button">
                        Next
                    </button>
                </div>
                <div class="app-sidebar app-save-panel app-save-panel--alt-mobile">
                    <h3 class="govuk-heading-m">Return to this later</h3>
                    <p class="govuk-body"><a asp-action="save" asp-controller="assessment" class="govuk-link govuk-link--no-visited-state">Save my progress</a></p>
                </div>

            </div>

            <div class="govuk-grid-column-one-third-from-desktop">
                <div class="app-sidebar app-save-panel app-save-panel--alt">
                    <h3 class="govuk-heading-m">Return to this later</h3>
                    <p class="govuk-body"><a asp-action="save" asp-controller="assessment" class="govuk-link govuk-link--no-visited-state">Save my progress</a></p>
                </div>
            </div>
        </div>
    </form>
