@model FilterQuestionIndexResponseViewModel

@if (Model.Question.PreviousQuestionNumber != null)
{
    <br />
    <a asp-route="filterQuestions" asp-route-questionSetName="@Model.Question.QuestionSetName" asp-route-jobCategoryName="@Model.JobCategoryName" asp-route-questionnumber="@Model.Question.PreviousQuestionNumber">Back to previous statement</a>
}

@Html.ValidationSummary()

<h1>@Model.Question.QuestionText</h1>

<form method="post">
    <input type="hidden" name="QuestionNumber" value="@Model.Question.CurrentQuestionNumber" />    
    <p>
        <input type="radio" value="5" name="answer" />Yes
    </p>
    <p>
        <input type="radio" value="6" name="answer" />No
    </p>
 
    <button>Next</button>
</form>

<hr />
<h3>Return to this later</h3>
<br />
<a asp-controller="assessment" asp-action="save">Save my progress</a>
