@model HomeIndexResponseViewModel
@{
     ViewData["Title"] = "Discover your skills and careers";
}
<div class="govuk-width-container">
    @inject IConfiguration configuration
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-two-thirds">
            <img class="dysac-landing-page-img-d" src="@configuration["AssetsCdn"]nationalcareers_toolkit/images/skills-assessment-desktop.png" alt="" />
            <img class="dysac-landing-page-img-m" src="@configuration["AssetsCdn"]nationalcareers_toolkit/images/skills-assessment-mobile.png" alt="" />
            <p class="govuk-body govuk-!-margin-top-6">
                There are no right or wrong answers when doing a skills assessment. It’s a way to understand yourself better and help you think about your next step. 
            </p>
            <div class="dysac-landing-page-panel govuk-!-margin-top-6">
                <div class="dysac-landing-page-panel-content">
                    <div class="dysac-landing-page-panel-desc">             
                        <p class="govuk-body">You could take a skills assessment to help you:</p>
                        <ul class="govuk-list govuk-list--bullet ul-dysac govuk-!-margin-bottom-5">
                            <li>find out what motivates you </li>
                            <li>work out careers that do not interest you </li>
                            <li>see what you can do with the skills you have </li>
                        </ul>
                    </div>
                    <div class="dysac-landing-page-panel-image-c">
                        <img src="@configuration["AssetsCdn"]nationalcareers_toolkit/images/salandingcheckbox.svg" alt="" />
                    </div>
                </div>

            </div>
            <h2 class="govuk-heading-l govuk-!-margin-top-9">Discover your skills and careers assessment</h2>
            <p class="govuk-body govuk-!-margin-top-6">Answer questions about things you like to do or are good at. You’ll see what motivates you based on your answers and get career suggestions to compare.</p>

            <div class="dysac-landing-page-panel govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                <div class="dysac-landing-page-panel-content">
                    <div class="dysac-landing-page-panel-desc">
                        <p class="govuk-body">This assessment:</p>
                        <ul class="govuk-list govuk-list--bullet ul-dysac govuk-!-margin-bottom-5">
                            <li>contains 40 multiple-choice questions</li>
                            <li>takes 5 to 10 minutes to complete – it may take longer with a screen reader</li>
                            <li>gives you a reference code so you can come back later  </li>
                        </ul>
                    </div>
                    <div class="dysac-landing-page-panel-image-i">
                        <img src="@configuration["AssetsCdn"]nationalcareers_toolkit/images/salandinginformation.svg" alt="" />
                    </div>
                </div>
            </div>
            <p class="govuk-body govuk-!-margin-bottom-6">You might want to <a href="/webchat/chat">speak about your results with a careers adviser</a> as they will know about local opportunities. </p>

            <form method="get" asp-controller="start">
                <button role="button" draggable="false" class="govuk-button ncs-button__primary govuk-!-margin-bottom-9" data-module="govuk-button">
                    Start a skills assessment
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                </button>
            </form>

        </div>

        <div class="govuk-grid-column-one-third">
            <div class="app-sidebar app-resume-panel">
                <form method="post" asp-controller="home" id="dysac-form">
                <partial name="ValidationSummary" model="ViewData.ModelState" />
                    <div class="app-resume-panel__input govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                        <h2 class="govuk-heading-m">Return to your assessment</h2>
                        <span asp-validation-for="ReferenceCode" class="govuk-error-message"></span>

                        <label for="code" class="dysac-ref-label govuk-label">Enter your reference code if you've already started an assessment</label>
                        <p class="dysac-ref-label govuk-label">Example: 732E E325 GE3R E6</p>
                        <input class="govuk-input @(!ViewData.ModelState.IsValid ? "govuk-input--error" : "")" asp-for="ReferenceCode" id="code" aria-label="Reference-Code"  value="@(!ViewData.ModelState.IsValid ? "": "")" />
                    </div>
                    <button type="submit" class="govuk-button ncs-button__secondary ncs-button__secondary__white app-button govuk-!-margin-bottom-9" id="dysac-submit-button">
                        Continue
                    </button>
                </form>
                <h2 class="govuk-heading-s">We’re removing old assessments</h2>
                <p class="govuk-body govuk-!-margin-bottom-5">We’re starting to delete assessments that have had no updates for 12 months.</p>
                <p class="govuk-body govuk-!-margin-bottom-9">Unless you make any changes, you will not be able to access your results after this time.</p>
            </div>
        </div>
        <div class="govuk-grid-column-full ">
            @if (Model.SpeakToAnAdviser != null)
            {
                <div class="app-related-items">
                    @Html.Raw(Model.SpeakToAnAdviser)
                </div>
            }
        </div>
    </div>
</div>